[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyquote = {file = ".", editable = true}

[dev-packages]
build = "*"
twine = "*"
pytest = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
